:root {
    --primary-color: #131313;
    --text: #ccc;
    --text-muted: #636363;
    --highlight-color-1: #c38810;
    --highlight-color-2: #5b8fda;
    --border-light: #333;
    --border-light-2: #111;
    --background-1: #131313;
    --background-2: #1e1e1e;
}

@font-face {
    font-family: 'Mina';
    src: url('./public/roboto.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'American';
    src: url('./public/American-Captain.ttf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Mina';
    color: var(--text);
}

div {
    display: flex;
}

#hero {
    position: sticky;
    flex-direction: column;
    top: 0;
    left: 100%;
    width: 100%;
    height: 80vh;
    z-index: 0;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    justify-content: center;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    background-color: var(--background-2);
    background-image: url('./img/bg-pattern.svg');
    background-repeat: repeat;
    background-size: 10rem;
    background-position: top left;
}

.nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
}

.nav-container {
    width: 100%;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
}

.nav-l, .nav-r {
    align-items: center;
    gap: 0.75rem;
}

.call-to-action {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.main-content {
    flex-direction: column;
    position: relative;
    z-index: 5;
    color: var(--text);
}

section {
    padding-block: 2rem;
    padding-inline: 0.5rem;
    background-color: #131313;
}

.services {
    display: flex;
    flex-direction: row;
    gap: 2rem
}

.offer {
    background-color: #858585;
}

.reviews {
    display: flex;
    height: 18rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--background-2);
}

.reviews-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.review {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-1);
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.profile {
    height: 2.5rem;
    justify-content: center;
    align-items: center;
}

.review-text {
    width: 16rem;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.about {
    position: relative;
    display: flex;
    justify-content: center;
}

.about-card {
    align-items: start;
    flex-direction: column;
    gap: 0.75rem;
    width: 80%;
    border: 1px solid var(--border-light);
    border-radius: 0.25rem;
    padding: 1rem 2rem;
}

.about-intro {
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.portrait {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    height: 6rem;
    border-top: 1px solid var(--border-light);
    display: flex;
    background-color: var(--background-1);
}

.footer-logo {
    flex-direction: column;
    gap: 0.25rem;
    color: var(--text-muted);
}

.footer-logo > * {
    color: var(--text-muted);
}

.footer-links {

    flex-direction: column;
    gap: 0.25rem
}

.footer-links > * {
    font-size: 0.9rem;
    color: var(--text-muted);
}


/*Components*/

.text-highlight {
    color: var(--highlight-color-2);
    font-weight: bold;
}

.top-card {
    position: relative;
    margin:0;
    padding: 0;
    width: 100%; !important;
    color: white;
}

.star {
    color: #edb94e;
}

.title {
    font-family: 'American', sans-serif !important;
    font-size: 1.5rem;
    margin: 0;
}

.separator {
    width: 100%;
    align-self: center;
    border: 0.5px solid var(--border-light);
}

button {
    font-size: 0.9rem;
}

.logo {
    width: 2rem;
    height: 1.5rem
}

.text-btn {
    color: var(--text);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.text-btn:hover {
    text-decoration: underline;
}

.main-btn {
    background-color: transparent;
    color: var(--highlight-color-1);
    border: 1px solid var(--highlight-color-1);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.2rem 0.75rem;
}

.main-btn:hover {
    color: var(--highlight-color-2);
    border: 1px solid var(--highlight-color-2);

}

.highlight-btn {
    width: 8rem;
    height: 1.75rem;
    font-size: 0.95rem;
    color: white;
    background-color: var(--highlight-color-1);
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.2rem 0.75rem;
}

.highlight-btn:hover {
    color: white;
    background-color: var(--highlight-color-2);
}

