:root {
       --primary-color: #131313;
       --text: #ccc;
       --text-muted: #636363;
       --highlight-color-1: #c38810;
       --highlight-color-2: #5b8fda;
       --border: #555;
       --border-light: #333;
       --border-light-2: #111;
       --background-1: #131313;
       --background-2: #1e1e1e;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/roboto.ttf');
}

@font-face {
    font-family: 'American';
    src: url('./fonts/American-Captain.ttf');
}

html, body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

p, a {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: var(--text);
    text-wrap: wrap;
}

div {
    display: flex;
}

#hero {
    position: sticky;
    flex-direction: column;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    z-index: 0;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    justify-content: center;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: var(--background-2);
    background-image: url('./img/bg-pattern.svg');
    background-repeat: repeat;
    background-size: 10rem;
    background-position: top left;
}

.nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    overflow-x: hidden;
}

.nav-container {
    width: 100%;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
}

.nav-l, .nav-r {
    align-items: center;
    gap: 0.75rem;
}

.call-to-action {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

main {
    width: 100%;
}

.main-content {
    flex-direction: column;
    position: relative;
    z-index: 5;
    color: var(--text);
}

section {
    padding-block: 4rem;
    padding-inline: 0.5rem;
    background-color: #131313;
}

.story::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    min-height: 12rem;
    background-image: url('./img/bottom.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    background-position: top center;
}

.story {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    border-block: 1px solid var(--border-light);
}

.info {
    text-align: center;
    font-family: 'American';
    font-size: 1.5rem;
}

.services {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.services-container {
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.serv-icon {
    width: 3rem;
    height: 2.5rem;
}

.offer {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: bold;
    color: var(--highlight-color-1);
    background-color: var(--background-2);
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.reviews {
    display: flex;
    min-height: 18rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--background-2);
    padding: 1rem;
}

.reviews-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.review {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-1);
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.profile {
    height: 2.5rem;
    justify-content: center;
    align-items: center;
}

.review-text {
    width: 16rem;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.contact {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
}

.contact-card {
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-2);
    padding: 1.5rem;
    gap: 0.75rem;
    border-radius: 0.5rem;
}

input {
    width: 100%;
    font-size: 0.8rem;
    background-color: var(--background-1);
    border: 1px solid var(--border-light);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    color: var(--text);
    outline: none;

}

.input-group {
    display: flex;
    gap: 0.5rem;
}

.about {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
}

.about-card {
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    border: 1px solid var(--border-light);
    border-radius: 0.25rem;
    padding: 1rem 2rem;
    max-width: 50rem;
}

.about-intro {
    width: 100%;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
}

.portrait {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    height: auto;
    border-top: 1px solid var(--border-light);
    background-color: var(--background-1);
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-logo {
    flex-direction: column;
    gap: 0.25rem;
    color: var(--text-muted);
}

.footer-logo > * {
    color: var(--text-muted);
}

.footer-links {
    flex-direction: column;
    gap: 0.25rem;
}

.footer-links > * {
    font-size: 0.9rem;
    color: var(--text-muted);
}

.text-highlight {
    color: var(--highlight-color-2);
    font-weight: bold;
}

.top-card {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
}

.col {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.star {
    color: #edb94e;
}

.title {
    font-family: 'American', sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

.sm-title {
    font-family: 'American', sans-serif;
    font-size: 1rem;
    margin: 0;
}

.title-call {
    font-family: 'American', sans-serif;
    font-size: 2.5rem;
    margin: 0;
}

.separator {
    width: 100%;
    align-self: center;
    border: 0.5px solid var(--border-light);
}

button {
    font-size: 0.9rem;
}

.logo {
    width: 2rem;
    height: 1.5rem;
}

.text-btn {
    color: var(--text);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.text-btn:hover {
    text-decoration: underline;
}

.main-btn {
    background-color: transparent;
    color: var(--highlight-color-1);
    border: 1px solid var(--highlight-color-1);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.2rem 0.75rem;
}

.main-btn:hover {
    color: var(--highlight-color-2);
    border: 1px solid var(--highlight-color-2);
}

.highlight-btn {
    min-width: 8rem;
    height: 1.75rem;
    font-size: 0.95rem;
    color: white;
    background-color: var(--highlight-color-1);
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.2rem 0.75rem;
}

.highlight-btn:hover {
    color: white;
    background-color: var(--highlight-color-2);
}

.mec {
    width: 4rem;
    height: 4rem;
}

.certification {
    display: flex;
    border-block: 1px solid var(--background-2);
    padding: 1.5rem 1rem;
    justify-content: center;
}

.cert-card {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.wrap {
    text-wrap: wrap;
}

@media (max-width: 768px) {
    .text-btn, .main-btn, .highlight-btn {
        padding: 0.25rem;
    }
    .nav {
        padding-inline: 4px;
    }
    .nav-l {
        gap: 0.15rem;
    }
    .story {
        flex-direction: column;
        gap: 2rem;
        padding-block: 2rem;
    }
    .info {
        font-size: 1.3rem;
    }
    .reviews-container {
        gap: 1rem;
    }
    .offer {
        min-width: 80%;
    }
    .review-text {
        font-size: 0.75rem;
    }
    .about-card {
        width: 98%;
        align-items: center;
    }
    .about-intro {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: start;
    }
    .contact-card {
        width: 98%;
    }
    .input-group {
        flex-direction: column;
        align-items: end;
    }
    .footer {
        width: 100%;
        align-self: center;
        justify-self: center;
    }
    .footer-links {
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .text-btn, .main-btn {
        font-size: 0.85rem;
    }
    .offer {
        width: 100%;
    }
    .reviews {
        padding-inline: 0;
    }
    .review {
        width: 100%;
        padding: 0.5rem;
        gap: 0.25rem;
        border-radius: 0;
    }
    .review-text {
        width: 100%;
    }
    .profile {
        display: none;
    }
}